.bannerParentDiv {
  padding-top: 5em;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100vw;
}
.bannerChildDiv .banner img{
  width: 100vw;
}
.bannerChildDiv .bannerCategory{
  padding: 10px;
}
.bannerCategory .categoryCards{
  display: flex;
  overflow: scroll;
}
.bannerCategory .categoryBox{
  flex: 2;
  padding: 12px;
  text-align: center;
  margin: 2px;
 
}

